/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/abr/2018, 13:22:57
    Author     : nunof
*/
.grid {
  display: grid;
  margin-top: 100px;
  grid-gap: 5px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 200px 100px;
  align-content: center;
  justify-content: center;
}

.main {
    grid-area: 1/1/1/4;
    text-align: center;
    justify-content: center;
}

.box {
  color: black;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
}
