<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>Cenas - Admin</title>

    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/mobile.css" media="screen and (max-width: 400px)" type="text/css" />
</head>

<body>
    <h1>Cenas - Administração</h1>

    <div>
        <form>

            <h2>O que deseja fazer?</h2>

            <input type="button" value="Registar Utilizadores" onclick="location.href='';">
            <input type="button" value="Remover Utilizadores" onclick="location.href='';">
            <input type="button" value="Gerir Processos" onclick="location.href='';">
        </form>
    </div>
</body>

</html>