<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cenas - Assistente</title>

    <link rel="stylesheet" href="../CSS/main.css">
    <link rel="stylesheet" href="../CSS/mobile.css" media="screen and (max-width: 400px)" type="text/css" />
</head>

<body>
    <h1>Cenas - Assistente</h1>

    <div>
        <form>
            <h2>Processos:</h2>

            <label class="Tipo">Procurar por estado:</label>
            <select>
                <option value="Aberto">Aberto</option>
                <option value="EmAcompanhamento">Em acompanhamento</option>
                <option value="Fechado">Fechado</option>
            </select>

            <p>
                <input type="submit" value="Procurar"/>
                <input type="submit" value="Criar novo processo" />
                <input type="submit" value="Sair" onclick="location.href='index.html';" />
            </p>
        </form>
    </div>

</body>

</html>