<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Cenas - Login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../CSS/main.css">
  <link rel="stylesheet" href="../CSS/mobile.css" media="screen and (max-width: 400px)" type="text/css">

</head>
<div>
  <h1>Cenas</h1>
  <div class="login">
    <form method="post" action="/login">
      <h2>Login</h2>
      <label for="ID">Numero de identificação: </label>
      <input id="ID" required="" type="number" maxlength="30" name="ID" placeholder="Insira o seu numero de identificação...">
      <label for="Password">Password: </label>
      <input id="Password" required="" type="password" maxlength="30" name="Password" placeholder="Insira a sua password...">
      <p>
        <input type="submit" value="Log In">
      </p>
    </form>
  </div>
</div>