<!doctype html>

<html lang="">
    <head>
        <title>Cenas - Novo Processo</title>

        <link rel="stylesheet" href="../CSS/main.css">
        <link  rel="stylesheet" href="../CSS/mobile.css" media="screen and (max-width: 400px)"  type="text/css"/>
    </head>
    <body>
        <h1>Cenas - Assistente</h1>

        <div>
            <form method="post" action="">
                      
                <h2>Dados do Aluno</h2>
                
                <label for="alunoID">Identificador do aluno: </label> <input class="alunoID" required id="alunoID" type="number" maxlength="20" name="alunoID" placeholder="Indique o identificador do aluno...">
                <label for="Nome">Nome: </label> <input class="alunoNome" required id="Nome" type="text" maxlength="50" name="Nome" placeholder="Indique o nome do aluno...">
                <label for="Ano">Ano letivo: </label> <input class="alunoAno" required id="Ano" type="number" maxlength="10" name="Ano" placeholder="Indique o ano letivo do aluno...">
                <label for="Idade">Idade: </label> <input class="alunoIdade" required id="Idade" type="number" name="Idade" placeholder="Indique a idade do aluno...">
                <label for="Contacto">Contacto do Encarregado de Educação: </label> <input class="Contacto" required id="Contacto" type="number" name="Contacto" placeholder="Indique o contacto do encarregado de educação...">
                        
                <input type="submit" value="Submeter"/>
            </form>
        </div>

    </body>
</html>